.container{
    display: flex;
    min-height: 1000px;
    width: 100%;
    align-items: flex-start;
}
.container img{
    width: 300px;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 50px;
    margin-right: 50px;
}
.info{
    width: 100%;
    border: 2px solid #809671;
    margin: 10px;
    padding: 25px;
    border-radius: 10px;
}
.info h3{
    color: lightblue;
    font-size: 1.1rem;
    text-align: left;
}
.description{
    width: 500px;
    font-size: 0.9rem;
    color: darkgrey;
    text-align: left;
    margin-bottom: 40px;
}
.category{
    margin-bottom: 40px;
    text-align: left;
}
.category svg{
    margin-right: 5px;
    color: lightblue;

}
.info div{
    display: flex;
    justify-content: space-between;
}
.info a{
    display: flex;
    align-items: center;
    background-color: darkslateblue;
    padding: 10px 7px;
    border-radius: 10px;
    color: #fff
}
.info a svg{
    margin-right: 6px;
}
.price {
    display: flex;
    align-items: center;
}
.price svg{
    margin-right: 10px;
    color: lightgreen;
    font-size: 1.2rem;
}